.section {
    &--landing {
        height: 100vh;
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__logo {
        margin-bottom: 23px;
        &:hover {
            cursor: pointer;
        }
        svg {
            #eyes {
                transition: all 0.3s ease-in-out;
                d: path("M90.36 49.443c-1.645-.475-2.853-2.488-2.557-4.795.423-1.852 2.212-3.21 4.263-2.878 1.645.476 2.853 2.489 2.557 4.796-.422 1.851-2.211 3.21-4.262 2.877zM55.301 45.054c-1.865.28-3.678-1.181-4.049-3.264-.37-2.083.842-3.998 2.707-4.278 1.866-.28 3.678 1.181 4.049 3.264.37 2.083-.841 3.998-2.707 4.278z");
            }
            &:hover {
                #eyes {
                    d: path("M92.36 55.443c-1.645-.475-2.853-2.488-2.557-4.795.423-1.852 2.212-3.21 4.263-2.878 1.645.476 2.853 2.489 2.557 4.796-.422 1.851-2.211 3.21-4.262 2.877zM55.301 55.054c-1.865.28-3.678-1.181-4.049-3.264-.37-2.083.842-3.998 2.707-4.278 1.866-.28 3.678 1.181 4.049 3.264.37 2.083-.841 3.998-2.707 4.278z");
                }
            }
        }
    }

    &__text {
        font-size: 24px;
        @include media(768px) {
            font-size: 40px;
        }

        &__item {
            color: #030303;
            letter-spacing: 0.3px;
            font-weight: $font-light;
            line-height: 1.5;
        }

        &__outline {
            font-family: 'Roboto Mono', monospace;
            font-weight: $font-normal;
            font-size: 14px;
            color: #030303;
            max-width: 449px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.76;
            margin-bottom: 35px;
            @include media(768px) {
                font-size: 16px;
            }
        }

        &__split {
            position: relative;
            line-height: 1.76;
            &:after {
                content: '<!———>';
                font-family: 'Roboto Mono', monospace;
                font-size: 16px;
                color: #626262;
            }
        }
    }
}

.grey__text {
    color: #9a9a9a;
}

.underlined {
    text-decoration: none;
    position: relative;
    letter-spacing: 0.3px;
    transition: all 0.3s ease-in-out;
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 7px;
        content: ' ';
        height: 1px;
        width: 100%;
        background-color: #9a9a9a;
        transition: all 0.3s ease-in-out;
        @include media(768px) {
            bottom: 10px;
        }
    }
    &:hover {
        letter-spacing: 2.3px;
        &:after {
            bottom: 0;
        }
    }
}

.social__media {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        &__link {
            display: block;
            padding: 10px 8px;
        }
    }
}

.pre-caption {
    position: fixed;
    display: flex;
    @include media(768px) {
        left: -120px;
        bottom: 160px;
        transform: rotate(-90deg);
    }

    &__link {
        display: block;
        font-size: 14px;
        color: #9a9a9a;
        padding: 10px 15px;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        transition: all 0.3s ease-in-out;
        position: relative;
        @include media(768px) {
            font-size: 16px;
        }
        &:after {
            position: absolute;
            content: ' ';
            bottom: 0;
            left: 15px;
            right: 15px;
            height: 0px;
            background-color: #9a9a9a;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            &:after {
                height: 1px;
                bottom: 5px;
            }
        }
    }
}

.post-caption {
    display: flex;
    @include media(768px) {
        position: fixed;
        right: -160px;
        top: 180px;
        transform: rotate(90deg);
    }

    &__link {
        display: block;
        font-size: 14px;
        color: #9a9a9a;
        padding: 10px 15px;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        @include media(768px) {
            font-size: 16px;
        }
    }
}

.slider__left {
    color: #030303;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 100px;
    &:hover {
        cursor: pointer;
    }
    @include media(768px) {
        position: fixed;
        left: 0;
        width: 500px;
        top: 0;
        bottom: 0;
        background-color: transparent;
    }
}

.slider__right {
    color: #030303;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    &:hover {
        cursor: pointer;
    }
    @include media(768px) {
        position: fixed;
        right: 0;
        width: 500px;
        top: 0;
        bottom: 0;
        background-color: transparent;
    }
}

.slider__text {
    letter-spacing: 0px;
    line-height: 1.5;
    font-size: 0px;
    transition: all 0.3s ease-in-out;
}

.slido {
    &:hover {
        .slider__text {
            font-size: 32px;
            letter-spacing: 10px;
        }
    }
}

.panda-enter-active {
  animation: bounce-in 1s;
  //position: absolute;
}

.panda-leave-active {
  animation: slide-left .5s;
  position: absolute;
  z-index: 3;
}

.panda2-enter-active {
  animation: bounce-in .5s;
  //position: absolute;
}

.panda2-leave-active {
  animation: slide-right .5s;
  position: absolute;
  z-index: 3;
}

.rad-enter-active {
    animation: bounce-in .3s;
}

.fader {
    animation: fadeIn .1s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-left {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1200px);
  }
}

@keyframes slide-right {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(1200px);
  }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}