.browser {
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #9a9a9a;
    margin-bottom: 36px;
    max-width: 650px;
    &__header {
        height: 28px;
        border-bottom: 1px solid #9a9a9a;
        display: flex;
        align-items: center;
        padding-left: 12px;
        &__dots {
            height: 6px;
            width: 6px;
            border: 1px solid #030303;
            margin-right: 5px;
            background-color: #030303;
            border-radius: 50%;
        }
    }
    &__content {
        height: 200px;
        overflow: hidden;
        padding: 10px 10px 0;
        @include media(768px) {
            height: 450px;
        }
    }
}

.project-section {
    min-height: 100vh;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    @include media(768px) {
        display: flex;
        align-items: center;
    }
}

.project__title {
    font-size: 32px;
    font-weight: $font-light;
    line-height: 0.81;
    letter-spacing: 0.4px;
    text-align: center;
    color: #030303;
    margin-bottom: 16px;
    @include media(768px) {
        font-size: 48px;
    }
}

.project__description {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.76;
    text-align: center;
    color: #030303;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 24px;
    @include media(768px) {
        font-size: 17px;
    }
}

.project__action {
    margin-bottom: 24px;
}

.project__image {
    width: 100%;
}

.back {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    text-align: center;
    color: #9a9a9a;
    text-decoration: none;
}