.btn {
    color: $accent-color;
    display: inline-block;
    font-weight: $font-normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    border-radius: 0px;
    padding: 12px 45px 15px;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: inherit;
}

.btn--default {
    color: #030303;
    background-color: #fff;
    border-color: #030303;
    font-family: 'Roboto Mono', monospace;
    &:hover {
        background-color: #030303;
        color: #fff;
    }
}

.btn--block {
    display: block;
    width: 100%;
}